ArduCAM/CMakeFiles/
ArduCAM/Makefile
CMakeCache.txt
CMakeFiles/
Makefile
elf2uf2/
generated/
mycam/CMakeFiles/
mycam/Makefile
mycam/elf2uf2/
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
pico-sdk/
pioasm/
a.txt
librp2040_arducam.a
librp2040_arducam_test.a
